.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
}

@media only screen and (min-width: 775px) {
  .App {
    height: 100vh;
  }
}