.area {
  grid-area: area;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
}

.area-title {
  padding: 5px;
  text-align: center;
}

.area-content {
  display: flex;
  padding: 5px;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}

.area-droppable {
  height: 100%;
}

.do {
  grid-area: do;
  background-color: #fce5e3;
}

.schedule {
  grid-area: schedule;
  background-color: #ebefeb;
}

.delegate {
  grid-area: delegate;
  background-color: #fcf4eb;
}

.eliminate {
  grid-area: eliminate;
  background-color: #fff6e3;
}