.area {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  padding: 10px;
}

.dragging-over {
  background-color: var(--area-active-color);
}

.area-title {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.title-text {
  
}

.area-content {
  display: flex;
  padding: 5px;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.area-droppable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.do-area {
  grid-area: do;
  background-color: var(--do-area-color);
}

.schedule-area {
  grid-area: schedule;
  background-color: var(--schedule-area-color);
}

.delegate-area {
  grid-area: delegate;
  background-color: var(--delegate-area-color);
}

.eliminate-area {
  grid-area: eliminate;
  background-color: var(--eliminate-area-color);
}

.done-area {
  grid-area: done;
  background-color: var(--done-area-color);
}


.item-enter {
  background-color: var(--todo-active-color);
}
.item-enter-active {
  background-color: var(--todo-active-color);
  transition: 300ms ease-in;
}
