.platform {
  display: grid;
  grid-template-columns: 70px 350px 350px 350px;
  grid-template-rows: 45px 350px 350px;
  grid-template-areas:
    ".              urgent    not-urgent  ."
    "important      do        schedule    done"
    "not-important  delegate  eliminate   done";
  grid-gap: 1px;
}


.urgent {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: urgent;
  text-align: center;
}

.not-urgent {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: not-urgent;
  text-align: center;
}

.important {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: important;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.not-important {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: not-important;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

