/* these make sure it can work in any text element */

.inline-text {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.text-input {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.action-button {
  margin-left: 5px;
  margin-right: 5px;
}