.todo {
  background-color: var(--todo-area-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
}