:root {
  --main-text-color: black;
  --main-background-color: #fff;
  --area-color: red;
  
  --area-title-color: blue;
  --todo-area-color: white;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
